{{ define "footer" }}
<footer class="fixed-bottom bg-light">
  <div class="container">
    <span class="text-muted">Copyright 2020,<a href="https://thetoulbox.com">The Toul Box</a>.</span>
  </div>
</footer>
{{ end }}