{{ define "yield" }}

<h2>New Resume Critique</h2>
<div>
	{{ template "scanForm" }}
</div>
{{ end }}

{{ define "scanForm" }}
<form action="/review" method="POST" id="ReviewForm">
{{ csrfField }}
	
	<h6>Resume</h6>
	<textarea type="resume" name="resume"></textarea>
	
	<h6>Description</h6>
	<textarea type="description" name="description"></textarea>
	<button type="submit" form="ReviewForm" style="background-color: red;">Scan</button>
</form> 

{{ end }}