{{ define "yield" }}
<main role="main" class="container">
  <div class="default">
      <blockquote class="twitter-tweet"><p lang="en" dir="ltr">I&#39;m currently working on ResuCan, which will provide resume analysis to beat the applicant tracking system to help with getting callbacks. <br><br>So, far have the repo set up with deployments to elastic beanstalk<br>Repo: <a href="https://t.co/aoiW5ycvB8">https://t.co/aoiW5ycvB8</a><br><br>🧵</p>&mdash; Toul (@thetoulbox) <a href="https://twitter.com/thetoulbox/status/1350710188827938816?ref_src=twsrc%5Etfw">January 17, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</main>
{{ end }}